.searching{
    margin-left: 1vw;
}

.container h1{
    margin-top: 6vh;
    margin-left: 1vh;
}

.logIn{
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 0.8rem 1.5rem;
    background-color: white;
    border: none;
    border-radius: 25px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.75rem;
}

.logIn:hover {
    border: 2px solid rgb(40, 222, 250);
}

.mapaEstelarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    height: 3rem;
    top: 5rem;
    position: absolute;
}

.fullscreenImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.can{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    z-index: -100;
    background:url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=6000&h=4000&dpr=2")
}